html{
    width: 1080px;
    margin: 20px auto;
}
h1{
    font-size: 4rem;
}
.img-shadow{
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}
/* header section */
.navbar-nav{
    margin-left: auto;
}
/* main section */
.main-section{
    margin: 10px auto;
}
.main-section .container{
    padding: 40px 20px;
}
/* book section */
.book-section{
    margin: 10px auto;
}
.book-section .container{
    padding-bottom: 20px;
}

/* upcoming book section */
.up-section{
    margin: 10px auto;
}
.up-section .inline-text{
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px 0px;
    background: rgb(255,94,98);
    background: linear-gradient(90deg, rgba(255,94,98,1) 0%, rgba(255,153,102,1) 100%);
}
/* footer section */
.footer-section{
    margin:10px auto;
}
